In [5]:
import pandas as pd
import numpy as np

In [100]:
df = pd.DataFrame(columns=['Item','Price','Location'])

In [75]:
def frameAdd(df,array):
    df2 = pd.DataFrame([array], columns=df.columns)
    df = pd.concat([df,df2], ignore_index=True)
    return df

def framesAdd(df,arrayofArrays):
    for arr in arrayofArrays:
        df = frameAdd(df,arr)
    return df

In [101]:
df = framesAdd(df,[['iphone','10','apple'],['galaxy7','15','samsung'],['errickison','12','sony']])

df.sort_values(['Price'])

df['Phone Name'] = df['Price'] + ' ' + df['Item']

In [105]:
df.drop(['Phone Name'], axis = 1)

         Item Price Location
0      iphone    10    apple
1     galaxy7    15  samsung
2  errickison    12     sony